<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <% if user_signed_in? %>
    <%= current_user.email %>
  <% else %>
    <p>You are not logged in</p>
  <% end %>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-success"  %>
</div>
